* {
    margin: 0;
}
body {
    background-color: aquamarine;
}
.container {
    height: 100vh;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    width: 300px;
    height: 300px;
    background-color: steelblue;
    position: relative;
}
h1 {
    bottom: 50px;
    left: 50px;
    position: absolute;
}
.container-item {
    width: 200px;
    height: 200px;
    background-color: tan;
    position: relative;
}
